.titles-container {
    display: flex;
    margin-top: 91px;
    width: 500px;
    justify-content: space-between;
}

.titles-container p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.underline {
    width: 185px;
    background-color: #000;
    border: 2px solid #000000;
    margin: auto;
    margin-top: 15px;
}